openai>=1.40.0
ultralytics>=8.3.0
Pillow>=10.4.0
python-dotenv>=1.0.1
rapidfuzz>=3.9.6
git+https://github.com/ultralytics/CLIP.git
git+https://github.com/xinyu1205/recognize-anything.git
transformers==4.31.0
timm>=1.0.0
fairscale>=0.4.13
sentencepiece>=0.2.0
